*
{
    margin: 0;
    Padding: 0;
}

header 
{
    background:  linear-gradient(#00a39a,#a9e3f9) ;
    height:100vh;
    background-size: auto;
    background-position: center;
}
.row
{
    background: rgba(37, 17, 4, 0.5);
    height: 80px;
}
.main-nav 
{

    text-decoration: none;
    float: right;
    list-style: none;
    margin-top: 20px;
    margin-right: 20px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: #251104; 
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
}
.main-nav li.active a
{
    color: white;

}
.main-nav li a:hover
{    
    color: white;


}
.hello {

    position:relative;
    padding-top: 160px;   
    padding-left: 110px;
    height: 50px; 
    width: auto;
}
.introduction {
    margin:0;
    font-size: 3em;
    font-weight: 300;
    color: #251104; 
    z-index: 1;
    padding-left: 150px;
    padding-top: 175px;     
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;

}


.wave {
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 305px;
    background-size: cover;
}

.Heading {
    padding-top: 50px;
    text-align: center;
    font-family: "Limelight";
    font-size: 2.7em;
    font-weight: 290;
    height: 5px;
}


.quesns {
    color: #B99B8D; 
    font-size: 2.5em;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    font-weight: 100;
    float: center;
    padding-top: 250px;
    padding-right: 41%;
    padding-left: 20px;
    height:0;
    


}

.answers {
    color: #4b240b; 

    font-size: 2.5em;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    font-weight: 100;
    float: right;
    padding-right: 25%;
    padding-left: 20px;
    border-left: 2px solid black;
}

.image {
    padding-top: 50px;
    float: left;
    padding-left:15%;
}

.wave2 {
    
    padding-top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 305px;
    background-size: cover;
}